<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171062898095-op9o0nob2oorpo77edmjabs2f25ooejb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171062898095-op9o0nob2oorpo77edmjabs2f25ooejb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171062898095-jmuh58rcvgpukqushk9vlljq3jg8tlpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZYBNS7VaiN4GXI1StdhyOLiDLVLP46gI</string>
	<key>GCM_SENDER_ID</key>
	<string>171062898095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tesseract.uz.Aparto</string>
	<key>PROJECT_ID</key>
	<string>aparto-5d704</string>
	<key>STORAGE_BUCKET</key>
	<string>aparto-5d704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171062898095:ios:49c88606fcaeb076b2d35a</string>
</dict>
</plist>